.main {
  text-align: center;
  color: white;
  font-size: 40px;
  background-color: hsl(178, 24%, 25%);
}
.abr {
  text-align: center;
  color: black;
  font-size: 25px;
}



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  width: 30%;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

.description {
  padding: 10px;
  background-color: #f9f9f9;
}

.description p {
  margin: 0 0 10px;
  font-size: 16px;
}

.description a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

@media screen and (max-width: 960px) {
  .item {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .item {
    width: 100%;
  }
}
